# Exercises: Working with Databases in Python

For the exercises, we will be practicing the steps outlined in this [article](https://towardsdatascience.com/do-you-know-python-has-a-built-in-database-d553989c87bd). You can skip the portion where the author downloads a separate SQL client to examine the database.

## Import Libraries

We will need `pandas` and `sqlite3`. SQLite is a small, self-contained database engine that comes with Python so you will not have to do any additional installations for this lesson. If you want to connect to a different database engine, such as SQL server, you may need additional libraries such as `sqlalchemy` or `pyodbc` and a tool called a driver which helps to connect a database to an application.

In [3]:
import sqlite3 as sl
import pandas as pd
import sqlalchemy

## Create a Database

In the article, the author shows how to use `sqlite3` to open a connection to an existing database or create a new one. Use this method to make a new database called `exercises.db`.

In [4]:
# Create a new database called exercises.db.
conn = sqlite3.connect('exercises.db')

## Create a Table

Follow the steps in the article to create a table called `favorite_books.db`. This table should include columns for the title, author, and a short description of why it is a favorite.

In [9]:
# Create a new table in your database.
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS favorite_books (
        id INTEGER PRIMARY KEY,
        title TEXT,
        author TEXT,
        description TEXT
    )
''')

## Insert Records

Add 3 entries to your table for your top 3 favorite books.

In [12]:
# Add your 3 favorite books to your table.

con = sqlite3.connect('exercises.db')

sql = 'INSERT INTO favorite_books (title, author, description) VALUES (?, ?, ?)'
data = [
    ('Harry Potter', 'J.K. Rowling', 'A boy wizard at school'),
    ('My Favorite Book', 'Me', 'The story of my life'),
    ('Weird but True', 'National Geographic', 'Odd facts and stories')
]

with con:
    con.executemany(sql, data)

## Query Your Table

Write a `SELECT` query to output the 3 records in your table.

In [17]:
# Write your SELECT query here.
con = sqlite3.connect('exercises.db
cursor = con.cursor()
sql = 'SELECT * FROM favorite_books'

cursor.execute(sql)
records = cursor.fetchall()

for record in records:
    print(record)

(1, 'Harry Potter', 'J.K. Rowling', 'A boy wizard at school')
(2, 'My Favorite Book', 'Me', 'The story of my life')
(3, 'Weird but True', 'National Geographic', 'Odd facts and stories')

## Create a New Table with Pandas

Create a new table called `favorite_movies` with your top 3 favorite movies. Each movie should have an id and a title. This time, use Pandas to first make a dataframe and then write the dataframe to SQL. Write a `SELECT` query to confirm that the new table does have your top 3 favorite movies.

In [21]:
import pandas as pd
import sqlite3

data = {
    'id': [1, 2, 3],
    'title': ['The Fifth Element', 'Bridesmaids', 'Steel Magnolias'],}

df = pd.DataFrame(data)


conn = sqlite3.connect('exercises.db')


df.to_sql('favorite_movies', conn, if_exists='replace', index=False)

conn.close()

conn = sqlite3.connect('exercises.db')
cursor = conn.cursor()

sql = 'SELECT * FROM favorite_movies'

cursor.execute(sql)
records = cursor.fetchall()


for record in records:
    print(record)

cursor.close()
conn.close()

(1, 'The Fifth Element')
(2, 'Bridesmaids')
(3, 'Steel Magnolias')